[submodule "arduino/std"]
	path = arduino/std
	url = https://github.com/adiog/embed-arduino-std.git
[submodule "arduino/sdk"]
	path = arduino/sdk
	url = https://github.com/adiog/embed-arduino-sdk.git
